---
import type { Project } from "./types";
import { Image } from "astro:assets";
import linkedinIcon from "../assets/link.svg";
import githubIcon from "../assets/github.svg";

type Props = Project;

const { year, category, name, description, tools, url, githubUrl, image } =
  Astro.props;
---

<div class="project-card">
  <div class="card-content">
    <p>{year} • {category}</p>
    <h3>{name}</h3>
    <p>{description}</p>
    <p>{tools}</p>
    <p>
      <a href={url} target="_blank"
        ><Image
          src={linkedinIcon}
          height="25"
          width="25"
          alt={`Link to ${name}`}
        />View Project</a
      >
    </p>
    <p>
      <a href={githubUrl} target="_blank"
        ><Image
          src={githubIcon}
          height="25"
          width="25"
          alt={`Link to GitHub repository for ${name}`}
        /> View Code</a
      >
    </p>
  </div>
  <div class="card-image">
    <Image src={image} alt={name} />
  </div>
</div>

<style>
  .project-card {
    display: flex;
    border-radius: 10px;
    margin: 2rem 0;
    background-color: white;
  }

  .card-content {
    flex: 1;
    padding: 1.6rem;
  }

  .card-image {
    flex: 1;
    border-radius: 0 10px 10px 0;
    overflow: hidden;
  }

  .card-image img {
    max-width: 100%;
    height: stretch;
    object-fit: cover;
  }

  p a {
    align-items: center;
    display: inline-flex;
    gap: 0.5rem;
  }

  @media (max-width: 768px) {
    .project-card {
      flex-direction: column;
    }

    .card-image {
      border-radius: 10px 10px 0 0;
      order: -1;
    }
  }
</style>
